<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div
            class="card shadow-2-strong card-registration"
            style="border-radius: 15px"
          >
            <div class="card-body p-4 p-md-5">
  
              <div class="text-center">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">
                  Registration Here
                </h3>
              </div>
  
              <div>
                <h1 class="text-danger text-center" *ngIf="responseMessage !== ''">{{responseMessage}}</h1>
                
            </div>
            <!-- <mat-progress-spinner mode="indeterminate"></mat-progress-spinner> -->
              <div [formGroup]="registerationForm" >
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="firstName">First Name</label>
                      <input formControlName="firstName" type="text"  class="form-control form-control-lg" [class.is-valid]="!checkErrorInForm('firstName')"[class.is-invalid]="checkErrorInForm('firstName')&& checkErrorIfFormTouch('firstName')"
                      placeholder="Enter First Name">
  
                      <small class="text-danger text-bold"
                      *ngIf="checkErrorInFormAndType('firstName' , 'required') && checkErrorIfFormTouch('firstName')">
                      Please enter first name
                    </small>
                      
                    <small class="text-danger text-bold"
                    *ngIf="checkErrorInFormAndType('firstName' , 'minlength') && checkErrorIfFormTouch('firstName')">
                    min length of firstName should be greater than 3 character
                  </small>
  
                  <small class="text-danger text-bold"
                  *ngIf="checkErrorInFormAndType('firstName' , 'maxlength') && checkErrorIfFormTouch('firstName')">
                  max length of firstName should be lesser than 30 character
                </small>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="lastName">
                      Last Name</label>
                      <input
                        type="text"
                        id="lastName"
                        placeholder="Enter Last Name"
                        class="form-control form-control-lg"
                        formControlName="lastName"
                        [class.is-valid]="!checkErrorInForm('lastName')" [class.is-invalid]="checkErrorInForm('lastName')&& checkErrorIfFormTouch('lastName')"
                      />
                      <small class="text-danger text-bold"
                      *ngIf="checkErrorInFormAndType('lastName' , 'required') && checkErrorIfFormTouch('lastName')">
                      Please enter last name
                    </small>
                      
                    <small class="text-danger text-bold"
                    *ngIf="checkErrorInFormAndType('lastName' , 'minlength') && checkErrorIfFormTouch('lastName')">
                    min length of lastName should be greater than 3 character
                  </small>
  
                  <small class="text-danger text-bold"
                  *ngIf="checkErrorInFormAndType('lastName' , 'maxlength') && checkErrorIfFormTouch('lastName')">
                  max length of lastName should be lesser than 30 character
                </small>
                      
                    </div>
                  </div>
                </div>
  
            
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>
                      <input
                        type="email"
                        id="emailAddress"
                        class="form-control form-control-lg"
                        formControlName="email" 
                        [class.is-valid]="!checkErrorInForm('email')" [class.is-invalid]="checkErrorInForm('email')&& checkErrorIfFormTouch('email')"
                        placeholder="Enter your email"
                      />
                      <small class="text-danger text-bold"
                      *ngIf="checkErrorInFormAndType('email' , 'required') && checkErrorIfFormTouch('email')">
                      Please enter your email
                    </small>
                      
                    <small class="text-danger text-bold"
                    *ngIf="checkErrorInFormAndType('email' , 'email') && checkErrorIfFormTouch('email')">
                    please enter vaild email
                  </small>
                      
                    </div>
                  </div>

                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="password">Password</label>
                      <input 
                      formControlName="password"
                       type="password"
                        id="password"
                        class="form-control form-control-lg"
                        placeholder="Enter your password"
                        [class.is-valid]="!checkErrorInForm('password')" [class.is-invalid]="checkErrorInForm('password')&& checkErrorIfFormTouch('password')"
                        
                      />
                      <small class="text-danger text-bold"
                      *ngIf="checkErrorInFormAndType('password' , 'required') && checkErrorIfFormTouch('password')">
                      Please enter your password
                    </small>

                    <small class="text-danger text-bold"
                    *ngIf="checkErrorInFormAndType('password' , 'minlength') && checkErrorIfFormTouch('password')">
                    min length of password should be greater than 6 character
                  </small>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="conpassword">Confirm Password</label>
                      <input
                      formControlName="password_repeat"
                        type="password"
                        id="conpassword"
                        class="form-control form-control-lg"
                        [class.is-valid]="!checkErrorInForm('password_repeat') &&checkPassswordConfirmation()" [class.is-invalid]="checkErrorInForm('password_repeat')&& checkErrorIfFormTouch('password_repeat') &&!checkPassswordConfirmation()"
                        placeholder="Confirm password"
                      />
                      <small class="text-danger text-bold"
                      *ngIf="checkErrorInFormAndType('password_repeat' , 'required') && checkErrorIfFormTouch('password_repeat')">
                      Please confirm your password
                    </small>
  
                    <small class="text-danger text-bold"
                    *ngIf="!checkPassswordConfirmation() && checkErrorIfFormTouch('password_repeat') &&!checkErrorInFormAndType('password_repeat' , 'required')">
                    your password does't match
                  </small>
  
                    </div>
                  </div>
                </div>
  
                <div
                  class="d-flex align-items-center justify-content-center pb-4"
                >
                  <p class="mb-0 me-2">Already have an account</p>
                  <button
                    type="button"
                    class="btn btn-outline-danger "
                    routerLink="/Login"
                  >
                    Sign in
                  </button>
                </div>
                <div class="mt-4 pt-2 text-center">
                  <button (click)="onSignUp()"
                    class="btn btn-primary btn-block gradient-custom-2 mb-3"
                    type="button"
                  >
                    Submit
                  </button>
                </div>
              </div>
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
